<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pascasarjana</title>
</head>
<body>
    <h1>PROGRAM PASCASARJANA</h1>
    <h2>Terdiri dari prodi :</h2>
    <li>Magister Administrasi Publik</li>
    <li>Magister Akuntansi</li>
    <li>Magister Hukum</li>
    <li>Magister Ilmu Pertanian</li>
    <li>Magister Manajemen</li>
    <li>Magister Pendidikan Bahasa Indonesia</li>
    <li>Magister Pendidikan Matematika</li>
    <li>Magister Teknologi Pendidikan</li>
    <li>Magister Pendidikan Bahasa Inggris</li>
    <li>Magister Ilmu Komunikasi</li>
    <li>Magister Teknik Kimia</li>
    <li>Doktor Pendidikan</li>

</body>
</html>