<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fkip</title>
</head>
<body>
    <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    <h2>Terdiri dari prodi :</h2>
    <li>Bimbingan Dan Konseling</li>
    <li>Pendidikan Bahasa Indonesia</li>
    <li>Pendidikan Bahasa Inggris</li>
    <li>Pendidikan Biologi</li>
    <li>Pendidikan Fisika</li>
    <li>Pendidikan Guru Pendidikan Anak Usia Dini</li>
    <li>Pendidikan Guru Sekolah Dasar</li>
    <li>Pendidikan Ilmu Pengetahuan Alam</li>
    <li>Pendidikan Khusus</li>
    <li>Pendidikan Kimia</li>
    <li>Pendidikan Matematika</li>
    <li>Pendidikan Non Formal</li>
    <li>Pendidikan Pancasila dan Kewarganegaraan</li>
    <li>Pendidikan Sejarah</li>
    <li>Pendidikan Seni Pertunjukan</li>
    <li>Pendidikan Sosiologi</li>
    <li>Pendidikan Vokasional Teknik Elektro</li>
    <li>Pendidikan Vokasional Teknik Mesin</li>
    <li>Pendidikan Profesi Guru</li>
    
</body>
</html>