<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feb</title>
</head>
<body>
    <h1>FAKULTAS EKONOMI DAN BISNIS</h1>
    <h2>Terdiri dari prodi :</h2>
    <li>Akuntansi</li>
    <li>Manajemen Pemasaran</li>
    <li>Perbankan dan Keuangan</li>
    <li>Perpajakan</li>
    <li>Akuntansi</li>
    <li>Ekonomi Islam</li>
    <li>Ekonomi Pembangunan</li>
    <li>Manajemen</li>
    
</body>
</html>