<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fk</title>
</head>
<body>
    <h1>FAKULTAS KEDOKTERAN</h1>
    <h2>Terdiri dari prodi :</h2>
    <li>Keperawatan</li>
    <li>Gizi</li>
    <li>Ilmu Keolahragaan</li>
    <li>Kedokteran</li>
    <li>Keperawatan</li>
    <li>Pendidikan Profesi Dokter</li>
    <li>Pendidikan Profesi Ners</li>
    
</body>
</html>